.brand
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: url(../brand.png) center #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    z-index: -1;


.archive-post
  padding: 1em 0
  border-top: 1px solid color-border
  &:last-child
    padding-bottom: 40px

.archive-post-link
  clearfix()
  display: block
  color: color-default
  text-decoration: none
  line-height: line-height
  &:hover
    color: color-link-hover

.archive-post-title
  font-family: font-title
  float: left
  font-weight: bold

.archive-post-date
  color: color-gray
  float: right
  font-size: 0.9em
